<h4>名前を変える</h4>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :名前 %><br />
    <%= f.text_field :username, autofocus: true %>
  </div>

  <p>

  <div class="field" class="col-md-6">
    <%= f.label :email %><br />
    <%= f.email_field :email, autocomplete: "email" %>
  </div>

  <p>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <p>

  <div class="field">
    <%= f.label "現在のパスワード" %><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <p>

  <div class="field">
    <%= f.label "新しいパスワード" %> <i>(変えないなら空欄のままでOK)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> 文字以上</em>
    <% end %>
  </div>

  <p>

  <div class="field">
    <%= f.label "新しいパスワード、念のためもう一度" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <p>

  <div class="field">
    <%= f.label :日本語熱 %><br />
    <%= f.select :ondo, {"高熱" => "高熱", "微熱" => "微熱", "平熱" => "平熱", "上がったり下がったり" => "上がったり下がったり"}, {}, {:class => "form-control"} %>
  </div>

<p>
<p>

  <div class="actions">
    <%= f.submit "更新", class: "btn btn-primary" %>
  </div>

<% end %>

<!-- <h3>登録をやめる</h3>

<p>やめとく？ <%= button_to "やめる", registration_path(resource_name), data: { confirm: "ほんとにやめる？" }, method: :delete %></p> -->
<p>
  <div class="actions">
    <%= link_to "戻る", :back %>
  </div>
