<h2>【<%= @yourei.word.content %>】</h2>
<h1><% @yourei.id %><%= @yourei.content %></h1>
<div class="input-sm">用例の分野は、<%= @yourei.category %></div>

<div class="row">
  <div class="col-xs-10">

<%= form_for(@yourei) do |f| %>

  <div class="form-group">
    <%= f.label :content, '書き直すなら' %>
    <%= f.text_field :content, class: 'form-control' %>
    <%= f.label :category, '分野も' %>
    <%= f.text_field :category, class: 'form-control' %>
    <%= f.submit 'こう直す！', class: "btn btn-primary" %>
  </div>
<% end %>

  </div>
</div>

<div><%= link_to '尻取り一覧に戻る', words_path, class: "btn btn-default" %></div>
