<% breadcrumb :yourei, @youreis %>

<h2>【<%= @yourei.word.content %>】</h2>

<div class="input-sm">
  <dl>
    <dt>例)【こうとう】</dt>
    <dd>「口頭試験」「高等学校」「物価が高騰」「口答で伝える」「エースの好投で勝利」「江東区在住」</dd>
  </dl>
</div>
<hr>
<div class="input-sm">尻取りのお題は...<%= @yourei.word.category %></div>
<div class="input-sm">例文のお題は...<%= @yourei.category %></div>
<h1><% @yourei.id %><%= @yourei.content %></h1>

<p>
  <%= link_to '尻取り一覧', words_path, class: "btn btn-link" %>
  <%= link_to '例文をなおす', edit_yourei_path(@yourei), class: "btn btn-link" %>
  <%= link_to '例文をやめる', @yourei, method: :delete, data: { confirm: 'ここはひとつ、斬新なやつを。' }, class: "btn btn-link" %>
</p>
