<% breadcrumb :yourei, @youreis %>

<h2>【<%= @yourei.word.content %>】</h2>
<div class="input-sm">尻取りのお題は...<%= @yourei.word.category %></div>
<div class="input-sm">例文のお題は...<%= @yourei.category %></div>
<h1><% @yourei.id %><%= @yourei.content %></h1>

<p>
  <%= link_to '尻取り一覧に戻る', words_path, class: "btn btn-default" %>
  <%= link_to '例文を編集', edit_yourei_path(@yourei), class: "btn btn-primary" %>
  <%= link_to '例文を削除', @yourei, method: :delete, data: { confirm: 'ここはひとつ、斬新なやつを。' }, class: "btn btn-danger" %>
</p>
