<% breadcrumb :yourei, @word %>

<h2 align="center">【<%= @yourei.word.content %>】</h2>
<div class="input-sm">尻取りのお題は...<%= @yourei.word.category %></div>

<h1 align="center"><% @yourei.id %><%= @yourei.content %></h1>
<div class="input-sm">例文のお題は...<%= @yourei.category %></div>

<p>
  <%= image_tag 'yubiMizu.png', :size => '15x10' %><%= link_to '尻取り一覧', words_path, class: "btn btn-link" %>
  <%= image_tag 'yubiMizu.png', :size => '15x10' %><%= link_to '例文をなおす', edit_yourei_path(@yourei), class: "btn btn-link" %>
  <%= image_tag 'yubiMizu.png', :size => '15x10' %><%= link_to '例文をやめる', @yourei, method: :delete, data: { confirm: 'ここはひとつ、斬新なやつを。' }, class: "btn btn-link" %>
</p>
