<% breadcrumb :words %>

<h3>尻取りしましょ</h3>

<% unless @new_word.nil? %>
  <h1>【<%= @new_word.content %>】</h1>
<% end %>

<%= form_for(@word) do |f| %>
  <% if @word.errors.any? %>
    <div id="error_explanation">
      <h2><%= @word.errors.count %>件のエラーがあります。</h2>

      <ul>
      <% @word.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
  <%= f.label :content, '次のことばは…' %>
  <%= f.text_field :content %>

  <%= f.submit '尻取り！' %>
  </p>
<% end %>

<ul>
  <% @words.each do |word| %>
    <% if current_user.username == "名無しの権兵衛" %>
    <li><%= word.user.username %>の【<%= word.content %>】</li>
    <% else %>
    <li><%= word.user.username %>の【<%= word.content %>】<%= link_to word.id, word %>の用例</li>
    <% end %>
  <% end %>
  <p><%= paginate @words %></p>
</ul>

<p>ユーザーID（開発用に表示）：<%= current_user.id %>
<%= link_to current_user.username, words_path(current_user) %></p>
