<script>
//更新
function koshin(){
  location.reload();
}
</script>

<% breadcrumb :words %>

<div align="center">

<h3>尻取りしましょ</h3>

<% unless @new_word.nil? %>
  <h1>【<%= @new_word.content %>】</h1>
  <form><%= image_tag 'yubiMizu.png', :size => '30x20' %><input class="btn btn-link" type="button" value="最新の尻取り" onclick="koshin()">かどうか確かめる</form>
<% end %>

</div>

<p>
  <div class="input-sm">
  <% unless current_user.username == "名無しの権兵衛" %>
    <%= form_for(@q, url: words_path, method: :get) do |f| %>
      <%= image_tag 'yubiMizu.png', :size => '15x10' %>&nbsp;&nbsp;<%= f.submit '自分の尻取り一覧', class: "btn btn-list" %>
      &nbsp;&nbsp;&nbsp;<%= image_tag 'yubiMizu.png', :size => '15x10' %>&nbsp;&nbsp;<%= link_to "全尻取り一覧", words_path(sort_flag: 1), type: "button", class: "btn btn-list" %>
    <% end %>
  <% end %>
  </div>

<p>
<%= form_for(@word) do |f| %>
 <!--楽観的ロック!-->
 <!-- <%= f.hidden_field :lock_version %> -->
  <% if @word.errors.any? %>
    <div id="error_explanation">
      <h5>エラーは次の<%= @word.errors.count %>つ。</h5>

      <ul>
      <% @word.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<hr>

  <div class="row">

  <div class="form-group col-xs-5">
    <!-- <form class="form-inline"> -->
      <%= f.label :content, 'ひらがなかカタカナで！', class: 'input-sm' %>
      <%= f.text_field :content, autofocus: true, class: 'form-control, input-lg' %><br>
      <%= image_tag 'yubiMizu.png', :size => '30x20' %><%= f.submit '尻取り！', class: 'btn btn-link' %>
    <!-- </form> -->
  </div>

  <div class="form-group col-xs-3 input-sm">
  <% unless current_user.username == "名無しの権兵衛" %>
  <%# これはコントローラーが呼び出されないのと、後ここでエディットの画面のボタンが表示されるのはおかしいので、コメントアウトにしています。 %>
  <%# link_to 'なおす', edit_word_path(@new_word), class: "btn btn-link" %>
  <%#= link_to 'やめる', @new_word, method: :delete, data: { confirm: '例文も消えちゃうよ' }, class: "btn btn-link" %>
  <% end %>
  </div>

  <div class="form-group col-xs-3 input-sm">
      <%= image_tag 'yubiMizu.png', :size => '15x10' %>&nbsp;&nbsp;<%= f.label :category, 'お題は' %>
      <%= f.collection_select :category, Category.all, :content,:content, include_blank: true, selected: session[:category]%>
  </div>

<% end %>

</div>

<div class="input-sm" align="center">
<%= search_form_for @search do |f| %>
  <%= f.label :content_eq, 'もうあるかな' %>
  &nbsp;&nbsp;<%= f.text_field :content_eq %>
  &nbsp;&nbsp;<%= image_tag 'yubiMizu.png', :size => '15x10' %><%= f.submit 'さがす', class: "btn btn-link" %>
  <% if @search_words.nil? == false %>
   <% @search_words.each do |sw| %>
     ⇒あった！【<%= link_to sw.content, sw %>】
   <% end %>
   <% if @search_words == [] %>
     ⇒ない</p>
   <% end %>
  <% end %>
<% end %>
</div>


<p>
<!-- <div align=center class="input-sm"> -->
<div align=center><%= paginate @words, :window => 5 %><br></div>

<p>

<table class="table table-striped">
  <thead>
    <tr class="input-sm">
    <th>尻取りした人</th>
    <th>尻取り</th>
    <th>お題</th>
    <th>例文数</th>
    <% if current_user.username == "名無しの権兵衛" %>
    <th class="input-sm">例文見るなら</td>
   <% else %>
    <th>例文書いて...</td>
   <% end %>
    </tr>
  </thead>

  <tbody>
  <% @words.each do |word| %>

    <tr>
    <td><%= word.user.username %></td>
    <td>【<%= word.content %>】</td>
    <td class="input-sm"><%= word.category %></td>
    <%
      youreis = []
      w = Word.where(content: word.content)
      w.each do |a|
       # youreis << a.youreis.order(id: "DESC").page(params[:page]).per(20)
       youreis << a.youreis.order(id: "DESC")
      end
    %>
    <% if youreis != nil %>
    <% count = 0 %>
    <% youreis.each do |c| %>
     <% count += c.count %>
    <% end %>
    <td><%= count %></td>
    <% if current_user.username == "名無しの権兵衛" %>
    <td class="input-sm">ログインを...</td>
    <% else %>
    <td><%= link_to image_tag('yubiMizu.png', {:size => '21x14', :alt => '例文見て'}), word %></td>
   <% end %>
  </tr>
  <% end %>

  <% end %>
  </tbody>
</table>

<!-- <div align=center class="input-sm"> -->
<div align=center><%= paginate @words, :window => 5 %><br></div>

<!-- <p>ユーザーID（開発用に表示）：<%#= current_user.id %>
<%#= link_to current_user.username, words_path(current_user) %></p> -->
