<% breadcrumb :youreis, @word %>

<h1>id: <%= @word.id %><%= @word.content %> の用例</h1>

<%= form_for(@yourei) do |f| %>
  <%= f.label :content, '用例' %>
  <%= f.text_field :content %>
  <%= hidden_field_tag :word_id, @word.id %>
  <%= f.submit '用例！' %>
<% end %>

<ul>
  <% @youreis.each do |yourei| %>
    <li><%= link_to yourei.id, yourei %> : <%= yourei.content %></li>
  <% end %>
</ul>
<p><%= paginate @youreis %></p>


<%= link_to '尻取り一覧に戻る', words_path %>
<%= link_to 'この尻取りを編集する', edit_word_path(@word) %>
<%= link_to 'この尻取りを削除する', @word, method: :delete, data: { confirm: '本当に削除してよろしいですか？' } %>
