<% breadcrumb :youreis, @word %>

<h1><% @word.id %>【<%= @word.content %>】</h1>

<div class="row">

  <div class="input-sm">
    尻取りしたのは <%= @word.user.username %>&nbsp;&nbsp;&nbsp;
    尻取りのお題は...<%= @word.category %></div>
  </div>

<p>
  <% if current_user.username == "baachan" %>
    <%= link_to '尻取りを編集', edit_word_path(@word), class: "btn btn-primary" %>
    <%= link_to '尻取りを削除', @word, method: :delete, data: { confirm: '用例も消えちゃうよ' }, class: "btn btn-danger" %>
  <% end %>
</p>

  <div class="form-group">
    <%= form_for(@yourei) do |f| %>
    <div class="input-sm col-xs-3">
        <%= f.label :category, '例文のお題は？' %>(空っぽでもいい)
        <%= f.text_field :category, class: 'form-control' %>
    </div>
    <div class="col-xs-9">
      <%= f.label :content, '例文は？' %>
      <%= f.text_field :content, autofocus: true, class: 'form-control' %>
      <%= hidden_field_tag :word_id, @word.id %>
      <%= f.submit 'こう使う！', class: "btn btn-primary" %>
    </div>
    <% end %>
  </div>

<div class="col-xs-12">

<hr>

<table class="table table-striped">

 <thead>
   <tr class="input-sm info">
      <th>例文</th>
      <th>お題</th>
      <th>作った人</th>
      <th>これでいいかな</th>
   </tr>
 </thead>

 <tbody>
   <% @youreis.each do |yourei| %>
     <% yourei.each do |y| %>
   <tr>
      <td><%= y.content %></td>
      <td class="input-sm"><%= y.category %></td>
      <td>by <%= y.user.username %></td>
    <% if current_user == y.user %>
      <td><%= link_to y.id, y, class: "btn btn-primary" %></td>
    <% else %>
      <td class="input-sm">花丸ボタン予定</td>
    <% end %>
  </tr>
  <% end %>
 <% end %>
 </tbody>

</table>

</div>

</div>
