<% breadcrumb :youreis, @word %>

<h1><% @word.id %>【<%= @word.content %>】</h1>

<div class="row">

  <div class="input-sm">
    &nbsp;&nbsp;&nbsp;尻取りした人 [<%= @word.user.username %>]&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    尻取りのお題...<%= @word.category %></div>
  </div>

  <div class="input-sm">
    <dl>
      <dt>【こうとう】だったら、</dt>
      <dd>&nbsp;&nbsp;&nbsp;「口頭試験」「高等学校」「物価が高騰」「口答で伝える」「エースの好投で勝利」「江東区在住」</dd>
    </dl>
  </div>

  <hr>

  <div class="form-group">
    <%= form_for(@yourei) do |f| %>
    <div class="input-sm col-xs-3">
        <%= image_tag 'yubiMizu.png', :size => '15x10' %>&nbsp;&nbsp;<%= f.label :category, 'お題を決める' %>
        <%= f.collection_select :category, Category.all, :content,:content, include_blank: true, selected: session[:category]%>
    </div>
    <div class="col-xs-9">
      <%= f.label :content, '例文' %>
      <%= f.text_field :content, autofocus: true, class: 'form-control' %>
      <%= hidden_field_tag :word_id, @word.id %>
      <%= image_tag 'yubiMizu.png', :size => '30x20' %><%= f.submit 'こんな使い方！', class: "btn btn-link" %>
    </div>
    <% end %>
  </div>

<div class="col-xs-12">

<hr>

<table class="table table-striped">

 <thead>
   <tr class="input-sm info">
      <th>例文</th>
      <th>お題</th>
      <th>作った人</th>
      <th>いいかな</th>
   </tr>
 </thead>

 <tbody>
   <% @youreis.each do |yourei| %>
     <% yourei.each do |y| %>
   <tr>
      <td><%= y.content %></td>
      <td class="input-sm"><%= y.category %></td>
      <td>[<%= y.user.username %>]</td>
    <% if current_user == y.user %>
      <td><%= link_to "なおす", y, class: "btn btn-link" %></td>
    <% else %>
      <td class="input-sm">花丸ボタン予定</td>
    <% end %>
  </tr>
  <% end %>
 <% end %>
 </tbody>

</table>

</div>

</div>
