<% breadcrumb :youreis, @word %>

<h1>word.id:<%= @word.id %>【<%= @word.content %>】の使い方</h1>

<%= form_for(@yourei) do |f| %>
  <%= f.label :content, 'このことばの使い方は？' %>
  <%= f.text_field :content %>
  <%= hidden_field_tag :word_id, @word.id %>
  <%= f.submit 'こう使う！' %>
<% end %>

<ul>
  <% @youreis.each do |yourei| %>
    <li><%= yourei.content %>　詳しくは、yourei.id:<%= link_to yourei.id, yourei %></li>
  <% end %>
</ul>
<p><%= paginate @youreis %></p>


<%= link_to '尻取り一覧に戻る', words_path %>
<%= link_to 'この尻取りを編集する', edit_word_path(@word) %>
<%= link_to 'この尻取りを削除する', @word, method: :delete, data: { confirm: '本当に削除してよろしいですか？' } %>
