<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="keywords" content="尻取り,しりとり,しり取り,シリトリ,shiritori,言葉づくし,ことばづくし,づくし,言の葉づくし,ことのはづくし,言葉遊び,ことば遊び,ことばあそび,word chains,siritori,尻鳥,づくどり" />
    <meta name="description" content="前のことばの最後の音で始まることばを、順ぐりに続けていく「尻取り」によって、ことばの例文集「言葉づくし」を作ることば遊びサイト。" />

    <title>Shiritori</title>
    <%= csrf_meta_tags %>

    <!-- Bootstrap CSS-->
    <link rel=“stylesheet” href=“https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css” integrity=“sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm” crossorigin=“anonymous”>
    <!-- HONOKA Bootstrap CSS-->
    <!-- <link rel="stylesheet" href="/app/assets/honoka/css/bootstrap.min.css"> -->

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Bootstrap JavaScript-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- HONOKA Bootstrap JavaScript-->
    <!-- <script src="/app/assets/honoka/js/bootstrap.min.js"></script> -->
    <script type="text/javascript" src="./footerFixed.js"></script>

   </head>

  <body>
    <header>
      <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">尻取り -言葉づくし-</a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>

          <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-left">

              <li class="navbar-text"><%= link_to current_user.username, words_path(current_user) %></li>

              <% if current_user.username == "名無しの権兵衛" %>

              <li class="navbar-text"><%= link_to '名を残す', new_user_registration_path %></li>
              <li class="navbar-text"><%= link_to 'ログイン', new_user_session_path %></li>

              <% elsif current_user.username == "ojajama" %>
              <li class="navbar-text"><%= link_to '自転車操業', youreis_path %></li>
              <li class="navbar-text"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>

              <% else %>

              <li class="navbar-text"><%= link_to '名を変える', edit_user_registration_path %></li>
              <li class="navbar-text"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>

              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <div align="right" class="input-sm">
      登録やログインはこちら！&nbsp;<%= image_tag 'yubiUe.png' %>
    </div>

    <div class="container">
      <%= render 'layouts/flash_messages' %>

      <%= breadcrumbs %>

      <%= yield %>
    </div>

   <hr>

   <div id="footer">
     <!-- <div class="footer navbar-fixed-bottom"> -->
        <p align=center><small>&copy;2018 尻取り -言葉づくし-</small></p>
        <p align=center><a href ="http://www.yk.rim.or.jp/~ameagari/"><small>なんでんよか！</a></small></p>
     <!-- </div> -->
   </div>

  </body>
</html>
